<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Hulma{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', path='assets/logo.png') }}">

    <link rel="stylesheet" href="{{ url_for('static', path='css/output.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>

<body class="overflow-x-hidden bg-white text-black antialiased">
    {% include 'components/navbar.html' %}

    {% block content %}
    {% endblock %}

    <script src="{{ url_for('static', path='js/script.js') }}"></script>
</body>
</html>
